body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


header{
  height: 150px;
}

.main{
  display:flex;
	flex: 1 0 auto;
	width: 100%;
	margin:0 auto;
}
footer{
  height:150px;
}

.main_title{
  margin:0;
  line-height:100px;
  text-align:center;
  border: 5;
}
ul li{
	display: inline;
	float:right;
	width:18%;
	font-weight:bold;
	border-right:1px  solid #D84544;
}

.main_menu{
  text-align: center;
  margin-left:auto;
  margin: 0;
  height: 50;
}

h1{
    background-color: #73da72;
}

.login_submit{
  margin-left:auto;
}

.login_content{
  border: 1px solid #CCC;
  margin: 50px;
  width: 50%;

}

.login_form{
  margin: 50px;
  text-align: right;
}

.create_user_content{
  border: 1px solid #ccc;
  width: 40%;
  margin: 50px;
}

.add_user{
  margin: 50px;
}

.create_user{
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #ccc;
  width: 800px;
}

.create_user_form{
  text-align: right;
  margin-right: auto;
  margin-left: auto;
  line-height: 3;
  width: 800px;
}

.confirm_create_user_form{
  text-align: right;
  margin-right: auto;
  margin-left: auto;
  line-height: 3;
  width: 800px;
}

.confirm_create_user{
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #ccc;
  width: 800px;
}