body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


header{
  height: 150px;
}

.main{
  display:flex;
	flex: 1 0 auto;
	width: 100%;
	margin:0 auto;
}
footer{
  height:150px;
  background-color: #a78c9647;
}

.main_title{
  margin:0;
  line-height:100px;
  text-align:center;
  border: 5;
}
.main_menu li{
	display: inline;
	float:right;
	width:18%;
	font-weight:bold;
	border-right:1px  solid #D84544;
}

.main_menu{
  text-align: center;
  margin-left:auto;
  margin: 0;
  height: 50;
}

h1{
    background-color: #E91E63;
    font-family: "Meiryo UI";
    color:white;
}

.main_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

}
.login_submit{
  margin-left:auto;
  text-align:right;
}

.login_content{
  border: 1px solid #CCC;
  margin: 50px;
  width: 50%;

}

.login_content p{
  background-color: #f97fcb;
  text-align: center;
  font-size: large;
  font-weight: bold;
  border: 1px solid #ccc;
  margin: 0;
  height: 50px;
  padding-top: 25px;
}

.login_form{
  margin: 50px;
  text-align: right;
}

.create_user_content{
  border: 1px solid #ccc;
  width: 40%;
  margin: 50px;
}

.create_user_content p{
  background-color: #f97fcb;
  text-align: center;
  font-size: large;
  font-weight: bold;
  border: 1px solid #ccc;
  margin: 0;
  height: 50px;
  padding-top: 25px;
}
.add_user{
  display: block;
  margin: 50px;
}

.create_user{
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #ccc;
  width: 800px;
}

.create_user p{
  background-color: #f97fcb;
  text-align: center;
  font-size: large;
  font-weight: bold;
  border: 1px solid #ccc;
  margin: 0;
  height: 50px;
  padding-top: 25px;
}
.create_user_form{
  text-align: right;
  margin-right: auto;
  margin-left: auto;
  line-height: 3;
  width: 800px;
}

.confirm_create_user_form{
  text-align: right;
  margin-right: auto;
  margin-left: auto;
  line-height: 3;
  width: 800px;
}

.confirm_create_user{
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #ccc;
  width: 800px;
}

.confirm_create_user_form p{
	text-align:left;
}

.sub_menu_list li {
  list-style: none;
  border: 2px solid #ccc;
}

.main nav{
  margin-top: 0;
}

h2{
  margin-top: 0;
  text-align: center;
}

.sub_menu_list{
  padding: 20px;
  text-align: left;
}
.sub_menu{
  margin-left: 50px;
  width: 200px;
  border: 2px solid black;
}

.iteam_button {
  width: 155px;
}

.fruits_iteam_list {
  width: 100%;
  flex-wrap: wrap;
  display:none;
}

.iteam_link {
  display:block;
  width: 250px;
  height: 200px;
  border: 1px solid black;
  margin:20px;
}

.iteam_link p{
  margin:0;
}

.iteam_img {
    width:249px;
    height:170px;
}

.iteam_name{
    text-align: center;
}

.meet_iteam_list{
  display: none;
}

.fish_iteam_list{
  display: none;
}

.iteam_info{
  width: 1000px;
  margin-left: 50px;
}

.iteam_main{
  display: flex;
}
.iteam_article{
  width: 100%;
}

.iteam_test{
  height: 100%;
}

.iteam_title{
  height: 20%;
  margin: 0;
}

.iteam_description{
  height: 80%;
  margin: 0;
}

.price{
  margin-top: 10px;
}

.stock{
  margin-top: 10px;
}

.bill_num{
  margin-top: 10px;
}

.login_submit{
  margin-top: 10px;
  margin-left: 300px;
}

.iteam_info_main{
  width: 500px;
  margin-left: 50px;
  border: 1px solid #ccc;
}

h3{
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid #ccc;
  height: 10%;
}

.iteam_info_result{
  width: 300px;
  margin-left: 100px;
  margin-top: 50px;
  line-height: 2;
}

.iteam_result{
  display: inline;
  float: right;
}

.submit_iteam{
  height: 90%;
}

.bill_submit{
  margin-top: 50px;
  margin-left: 70%;
  width: 80px;
}
