body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


header{
  height: 150px;
}

.main{
  display:flex;
	flex: 1 0 auto;
	width: 100%;
	margin:0 auto;
}
footer{
  height:150px;
}

.main_title{
  margin:0;
  line-height:100px;
  text-align:center;
  border: 5;
}
.main_menu li{
	display: inline;
	float:right;
	width:18%;
	font-weight:bold;
	border-right:1px  solid #D84544;
}

.main_menu{
  text-align: center;
  margin-left:auto;
  margin: 0;
  height: 50;
}

h1{
    background-color: #E91E63;
    font-family: "Meiryo UI";
    color:white;
}

.login_submit{
  margin-left:auto;
  text-align:right;
}

.login_content{
  border: 1px solid #CCC;
  margin: 50px;
  width: 50%;

}

.login_form{
  margin: 50px;
  text-align: right;
}

.create_user_content{
  border: 1px solid #ccc;
  width: 40%;
  margin: 50px;
}

.add_user{
  margin: 50px;
}

.create_user{
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #ccc;
  width: 800px;
}

.create_user_form{
  text-align: right;
  margin-right: auto;
  margin-left: auto;
  line-height: 3;
  width: 800px;
}

.confirm_create_user_form{
  text-align: right;
  margin-right: auto;
  margin-left: auto;
  line-height: 3;
  width: 800px;
}

.confirm_create_user{
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #ccc;
  width: 800px;
}

.confirm_create_user_form p{
	text-align:left;
}

.sub_menu_list li {
  list-style: none;
  border: 2px solid #ccc;
}

.main nav{
  margin-top: 0;
}

h2{
  margin-top: 0;
  text-align: center;
}

.sub_menu_list{
  padding: 20px;
  text-align: left;
}
.sub_menu{
  margin-left: 50px;
  width: 200px;
  border: 2px solid black;
}

.iteam_button {
  width: 155px;
}

.iteam_list {
  width: 100%;
  flex-wrap: wrap;
  display: none;
}

.iteam_link {
  display:block;
  width: 250px;
  height: 200px;
  border: 1px solid black;
  margin:20px;
}

.iteam_link p{
  margin:0;
}

.iteam_img {
    width:249;
    height:180;
}

.iteam_name{
    text-align: center;
}
